* {
    box-sizing: border-box;
}

body {
    font-size: 24px;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

#bgImg {
    opacity: .9;
    width: 100%;
    height: 100%;
    background-image: url('background3.png');
    background-size: cover;
    background-position: 0px -160px;
    z-index: -20;
}

#bushBox {
    position: absolute;
    height: 200px;
    width: 110%;
    top: 350px;
    overflow: hidden;
}

#bush {
    left: -100px;
    width: 100px;
    z-index: 0;
    height: 100px;
   
}
.bushAnimation{
    top: 0px;
    transition: 10s ease-out;
    position: absolute;
}




/* =====================Main================== */

/* <<<<<<<<<<<<<<<<---NEW GAME--->>>>>>>>>>>> */
#newGameSign {
    position: absolute;
    width: 300px;
    top: 175px;
    right: 80px;
    z-index: 10;
}

#newGameButton {
    position: absolute;
    width: 140px;
    height: 120px;
    right: 134px;
    top: 270px;
    background-color: aqua;
    opacity: 0;
    z-index: 20;
}

/* <<<<<<<<<<<<<<<<---CATEGORIES--->>>>>>>>>>>> */
#categoriesSign {
    width: 360px;
    position: absolute;
    top: 15px;
    right: 35px;
    z-index: 10;
}

.categoryButton {
    position: absolute;
    background-color: aqua;
    width: 200px;
    height: 60px;
    opacity: 0;
    z-index: 20;
}

#historyButton {
    top: 65px;
    right: 125px;
    width: 230px;
}

#artButton {
    top: 160px;
    right: 130px;
}

#geographyButton {
    top: 260px;
    right: 80px;
    width: 270px;
}

#sportButton {
    top: 380px;
    right: 130px;
}

#scienceButton {
    top: 480px;
    right: 85px;
    height: 50px;
}

#MainTitle {
    width: 300px;
    margin: auto;
    font-size: 56px;
    margin-top: 30px;
    font-weight: bolder;
    color: teal;
    text-shadow: 3px 1px 3px black;

}

#categories {}

#game {}

#result {}